<ul class="menu menu-vertical">
    <li>
        <a href="/karolis_jasadavicius/">Karolis Jasadavičius</a>
    </li>
    <li>
        <a href="/Andrius_Gedvilas/">Andrius Gedvilas</a>
    </li>
    <li>
        <a class="broken" href="/vardenis_pavardenis/">Vardenis Pavardenis</a>
    </li>
    <li>
        <a href="/karolis_venckus/">Karolis Venckus</a>
    </li>
    <li>
        <a href="/renaldas_zvega">Renaldas Zvega</a>
    </li>
    <li>
        <a href="/mindaugas_turauskas/">Mindaugas Turauskas</a>
    </li>
    <li>
        <a href="/robertas_sapronavicius/">Robertas Sapronavicius</a>
    </li>
    <li>
        <a href="/arnas_bolisas/">Arnas Bolisas</a>
    </li>
    <li>
        <a href="/deividas_skestenis/">Deividas Skestenis</a>
    </li>
</ul>
