<ul class="menu menu-vertical">
    <li>
        <a herf="/Erikas_Jankauskas/">Erikas_Jankauskas</a>
    </li>
    <li>
        <a href="/karolis_jasadavicius/">Karolis Jasadavičius</a>
    </li>
    <li>
        <a href="/Andrius_Gedvilas/">Andrius Gedvilas</a>
    </li>
    <li>
        <a href="/evelina_stonyte/">Evelina Stonytė</a>
    </li>
    <li>
        <a href="/zygimantas_bickus/">Zygimantas Bickus</a>
    </li>
    <li>
        <a href="/raimonda_anisimova/">Raimonda Anisimova</a>
    </li>
    <li>
        <a href="/karolis_venckus/">Karolis Venckus</a>
    </li>
    <li>
        <a href="/renaldas_zvega">Renaldas Zvega</a>
    </li>
    <li>
        <a class="mantvydo" href="/mantvydas/">Mantvydas</a>
    </li>
    <li>
        <a href="/mindaugas_turauskas/">Mindaugas Turauskas</a>
    </li>
    <li>
        <a href="/robertas_sapronavicius/">Robertas Sapronavicius</a>
    </li>
    <li>
        <a href="/milda_auglyte/">Milda Auglyte</a>
    </li>
    <li>
        <a href="/arnas_bolisas/">Arnas Bolisas</a>
    </li>
    <li>
        <a href="/deividas_skestenis/">Deividas Skestenis</a>
    </li>
    <li>
        <a href="/petras_ans">Petras Anskaitis</a>
    </li>
    <li>
        <a href="/tadas_z/">Tadas Z.</a>
    </li>
    <li>
        <a href="/jurate_krupaviciene/">Jurate Krupaviciene</a>
    </li>
    <li>
        <a href="/karolis_tamulevicius/">Karolis Tamulevičius</a>
    </li>
</ul>
