<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bronius.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>

        <div class="content">
            <h1>Bronius</h1>
            <p>Specializes in Python application development. Today I am learning HTML and CSS. Here are my experiments in HTML and CSS below:</p>
                       

            <h1>My H1 heading</h1>
            <h2 style="color: red;">My H2 heading</h2>
            <h3 style="color: grey;">My H3 heading</h3>

            <h2>Testing paragraphs</h2>                
            <p>First paragraph</p>
            <p>Second paragraph</p>
            <p style="background-color:orange;border:2px solid Tomato;">Styled paragraph</p>

            <h2>Testing links</h2>
            <p>This is my link: <a href="https://google.com">Google</a></p>

            <h2>Testing formatting</h2>            
            <b>Bold</b>
            <strong>Strong</strong>
            <i>Italic</i>
            <small>Small</small>
            <mark>Mark</mark>
            <del>Deleted</del>
            <ins>Inserted</ins>
            <sub>Subscript</sub>
            <sup>Superscript</sup>
    
            <h2>Testing tables</h2>  
            <table>
                <tr>
                    <th>Header1</th><th>Header2</th><th>Header3</th>
                </tr>
                <tr>
                    <td>First</td>
                    <td>Second</td>
                    <td>Third</td>
                </tr>
            </table>

            <h2>Testing links</h2>
            <h3>Unordered list</h3>
            <ul>
                <li>Unordered list item 1</li>
                <li>Unordered list item 2</li>
                <li>Unordered list item 3</li>
            </ul>
            <h3>Ordered list</h3>
            <ol>
                <li>Ordered list item 1</li>
                <li>Ordered list item 2</li>
                <li>Ordered list item 3</li>
            </ol>

        <h2>Testing images</h2>
        <img src="/static/tesla.png" alt="Tesla">

    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>