<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/darius_kaseta.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h2>About Me</h2>
            <p>Darius Kaseta was born and raised in <img class="logo" src="/static/Klaipeda.png">. 
                At age of 31, he made a transformative decision to immerse himself in the world of programming languages, 
                much like a snake shedding its old skin and embracing a new identity 
                as a green-skinned, red-eyed, and occasionally slimy <img class="logo" src="/static/snake.png">.</p>
            <p>With an insatiable curiosity and a relentless drive, Darius passionately explores the <img class="logo" src="/static/infinity.png"> landscape of programming, 
                embarking on an ever-evolving <img class="logo" src="/static/journey.png"> that knows no bounds. 
                His focus lies in the present and future, 
                gracefully gliding through the possibilities and intricacies of his chosen <img class="logo" src="/static/path.gif">.</p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>