<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Deividas Skestenis</h1>
            <img src="/static/DS.jpg" alt="Deividas Skestenis" width="350"  height="500">
            <p>Sveiki, esu Deividas Skestenis, daug nenoriu dabar ka cia pasakoti...</p> <a href="https://youtu.be/gkTb9GP9lVI?t=31">Daugiau info</a>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>