<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Erikas Jankauskas</h1>
            <img src="/static/Fake_photo.jpg" alt="fake photo">
            <p>Esu Erikas is silutes, man 23m. Domiuosi ivairiom sritim, esu dirbes
                statybose, naktiniuose klubuose, baruose, pardavimo srityse ,baiges automechanika.
                Paskutiniu metu esu labai susidomejas IT sritim ,todel pradejau mokintis Python kalba.
            </p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>
