<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>PTU12 Team</h1>
            <p>Specializes in Python application development ranging from data mining, AI, web applications, APIs,
                desktop applications, GUI applications
                and whatever your bussiness needs.</p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>

</html>