<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Jurate Krupaviciene</h1>
            <img src="/static/Jurate.jpg " width="140" height="170">
            <p></p>
            <b style="font-size: larger; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Profile: </b>
            <p style="background-color:aliceblue; font-family: 'Times New Roman', Times, serif; padding: 2rem;">I am a business analyst with experience in creating revenue cycle and HR metrics reports and
                dashboards to leadership. I am also experienced in optimizing processes and integrating systems
                globally.</p>
            <b style="font-size: larger; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Career: </b>
            <p style="color: rgba(83, 74, 93, 0.816); font-size: smaller;">2018/07 - 2020/05 </p>
            <b style="font-size:smaller; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">HRIS AND REPORTING ANALYST </b>
            <p style="font-family: 'Times New Roman', Times, serif;">- Regularly create standard and ad-hoc reports related to employees positions, demographic data,
                performance and other related statistics using Excel, SAP BO, UltiPro BI reporting tools.<br>
            - Design dashboards regarding turnover, retention, headcount, distribution of trends.<br>
            - Maintain the integrity of the data stored in the HRIS systems (Dayforce, Cornerstone, Interlink,
                UltiPro and Vikarina) by performing regular audits, working with the HR team to improve the
                efficiency of transactions and provide assistance to the users. </p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>