<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        body, h1, p {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>PTU12 Team</h1>
            <p>Does not specialize in anything but performs tasks adequately. Interested in game development and AI.</p>
            <img src="static/programmer_noob.jpg" alt="Programmer noob">
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>
