<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/karolis_style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="karolis_content">
            <h1>Karolis Tamulevičius</h1>
            <p>Well, let's see...</p>
            <p>It's me, Karolis Tamulevičius. I am just 27 years old. At this moment I living in Kaunas, Šilainiai.</p>
            <p>I am currently practicing Python. I think that with some effort I could possibly learn this language, maybe even master it.</p>
            <p>But before that I had several other professions. as the Lithuanians say "Ką išmoksi, to ant pečių nenešiosi". 
                Because I was thinking more and more about coming. that's why I'm opening up here.
                In Python courses. And hopefully I will find my calling here</p>
            <img src="https://i.ibb.co/R0ZwHYx/Dy2h4-Gl-Wo-AAKexn.jpg" alt="">
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>