<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/mantvydas_style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Mantvydas Personal Space</h1>
            <h3>About The Term "Sensei":</h3>
            <li>
                1. Meaning: In Japanese, "sensei" (先生) translates to "one who has come before" or "born before," and it is used as a title of respect for someone who is considered a teacher, instructor, or master.
            </li>
            <li>
                2. Martial Arts: In the realm of martial arts, a sensei is a highly experienced practitioner who guides and instructs students in the techniques, principles, and philosophies of the art form. They often hold a significant rank and are seen as role models by their students.
            </li>
            <li>
                3. Mentorship: Sensei can extend beyond martial arts and be applied to various domains, such as academics, arts, music, or any field where a knowledgeable and experienced person provides guidance and instruction to others. A sensei is known for their wisdom, expertise, and ability to impart knowledge to their students.
            </li>
            <li>
                4. Respect and Etiquette: In Japanese culture, showing respect and displaying proper etiquette towards a sensei is essential. Students often address their sensei using the term "sensei" followed by their surname (e.g., Suzuki-sensei). Bowing and other forms of traditional greetings are also common when interacting with a sensei.
            </li>
            <li>
                5. Relationship with Students: A sensei typically forms a close bond with their students and takes on the responsibility of shaping their character, teaching discipline, and fostering personal growth. The student-sensei relationship often extends beyond the practice or classroom setting, with the sensei providing guidance and support in various aspects of life.
            </li>
            <li>
                6. Continuous Learning: Despite their expertise, a sensei also embodies the spirit of lifelong learning. They constantly strive to deepen their knowledge, refine their skills, and explore new aspects of their chosen field. This commitment to personal growth and development sets an example for their students.
            </li>
            <li>
                7. Symbolism: The relationship between a sensei and their students is built on mutual respect, trust, and loyalty. The sensei serves as a guiding light, illuminating the path for their students and instilling valuable life lessons along the way.
            </li>
            <p>
                Remember that while the term "sensei" is most commonly associated with Japanese culture and martial arts, similar concepts of mentors or teachers exist in various cultures and traditions worldwide, each with their own unique characteristics and titles.
            </p>
            <img class='img' src="/static/mantvydo_img.jpg" alt="">
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>