<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Mindaugas Turauskas</h1>
            <img src="https://www.part.lt/img/5e691381bbdd0de8b0b409ff36567a96753.jpg" />
            <p>There is no place like</p><b style="color:green;">1 2 7 . 0 . 0 . 1</b>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>