<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        .petras_ans_content img {
            width: 50%; 
            height: auto;
        
        }
    </style>

</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content petras_ans_content">
            <h1>PTU12 Team</h1>
            <h2> Petras Anskaitis</h2>
            <p>Sveiki esu Petras, pagal išsilavinimą kalbininkas tačiau dabar norėčiau pristatyti savę kaip programuotoją  </p>
            <p>Dabar esu programuotojas, esu baigęs Harvardo Computer Science doktorantūrą, moku šias programavimo kalbas -
            Haskell,
            Cobolt,
            Erlang,
            Visual Basic,
            Ojective C,
            Perl,
            Python.
            <img src="/static/Group 9.png" alt="Petras Foto">
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>