<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Raimonda Anisimova</h1>
            <img src="/static/pic.png" alt="Raimonda Anisimova">
            <p>Hello, my name is Raimonda. </p>
            <p>I started my programming journey recently and I constantly strive to improve. In my previous belief, programmers can greatly optimize business processes, so I decided to align my career with various tool development for businesses.</p>
            <p>Through working on group projects, I discovered a particular interest in game development and this industry. That's why I decided to dedicate significant attention to improving my skills in this field.</p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>
