
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/renaldas_style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="renald_content">
            <h1>PTU12 Team</h1>
            <h2>Renaldas Zvega</h2>
            <p style="color: red;">P.s bio is not real!</p>
            <p>Renaldas Zvega is a talented software engineer with a passion for web development. He has a strong background in front-end technologies and is skilled in HTML, CSS. Renaldas is known for his attention to detail and ability to create visually appealing and user-friendly websites.</p>
            <p>With several years of experience in the industry, Renaldas has worked on numerous projects, ranging from small business websites to large-scale enterprise applications. His expertise lies in creating responsive and interactive web interfaces that deliver an exceptional user experience.</p>
            <p>Besides his technical skills, Renaldas is a great team player and enjoys collaborating with others to achieve project goals. He has excellent communication skills and is always open to learning and exploring new technologies to enhance his development abilities.</p>
            <p>As a member of the PTU12 Team, Renaldas brings his expertise and creativity to contribute to the team's success. He consistently strives for excellence in his work and takes pride in delivering high-quality solutions that meet client requirements.</p>
            <img src="https://www.mememaker.net/static/images/memes/3879368.jpg" alt="">
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>
