<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Robertas Sapronavicius</h1>
            <h2>About me</h2>
            <p>Hi, I'm Robertas. I like programming and currently learing Python. 
                At leisure time I like to take a walk in the nature, play chess, watch youtube.</p>
            <h2>Why I chose codeacademy.lt?</h2>
            <ul>
                <li>To learn:</li>
                    <ul>
                        <li>Good practices of Python programming</li>
                        <li>Work both individually and in groups</li>
                        <li>Create databases and web apps</li>
                    </ul>
                <li>To be more in demand in the labor market</li>               
            </ul>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>