<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/zb_style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Zygimantas Bickus</h1>
            <img class="zb" src="/static/zb.png" alt="naruto" width="500" height="600">
            <p class="zb">Sveiki, esu Zygimantas Bickus mokausi programuoti python3 kalba.</p>
            <p class="zb">Man yra 22 metai, mano zodiako zenklas Avinas.</p>
            <p class="zb">Mano issilavinimas spec.vidurinis, specialybe: IV klases suvirintojas.</p>
            <p class="zb">Programmuoti pradejau, nes kaskada turejau minti sukurti savo Runescape bota</p>
            <p class="zb">Megstamiausia fraze: </p>
            <p class="zb">"Pasaulyje nera geresnio vaizdo, kaip stebeti dirbanti kolega :D" - Laurio Tevas</p>
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>