<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTU12 Team</title>
    <link rel="stylesheet" href="/static/zb_style.css">
</head>
<body>
    <header>
        {% include 'includes/menu.html' %}
    </header>
    <main>
        <sidebar>
            {% include 'includes/sidebar.html' %}
        </sidebar>
        <div class="content">
            <h1>Zygimantas Bickus</h1>
            <img class="zb" src="/static/zb.png" alt="naruto" width="500" height="600">
            <p class="zb">Sveiki, esu Zygimantas Bickus mokausi programuoti python3 kalba.</p>
            <p class="zb">Man yra 22 metai, mano zodiako zenklas Avinas.</p>
            <p class="zb">Mano issilavinimas spec.vidurinis, specialybe: IV klases suvirintojas.</p>
            <p class="zb">Mano pomegiai: </p>
                <p class="zb">-Ardyti ir aiskintis kaip veikia visokiausi agregatai.</p>
                <p class="zb">-Mokytis, nesvarbu ka, tiesiog patinka mokymosi procesas.</p>
                <p class="zb">-Begioti, esu prijauciantis sportui zmogus.</p>
                <p class="zb">-Filmai bei serialai</p>
                <p class="zb">-Fotografuoti, labiausiai gamta, svajone butu kaskada nusipirkti 'normalu' fotoaparata</p>
            <p class="zb">Programmuoti pradejau, nes kaskada turejau minti sukurti savo Runescape bota</p>
            <p class="zb">tuo metu man buvo apie 15-16 metu. Einant laikui supratau kad Java programavimas yra labai sudetingas</p>
            <p class="zb">todel pradejau ieskoti lengvesnes programavimo kalbos, taip suradau pythona :). </p>
            
        </div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>